<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- is sometimes image dont load then we need to add 
            assets folder path to the angular.json file under assets:[] 
            and file path will be src/assets and 
            if favicon does not load then we add src/favicon because 
            we need to start file path from the root folder -->
        <img src="../assets/task-management-system-screenshot-1.png" alt="">
        <h1>Todo app</h1>
        <p>welcome to todo list app</p>
    </header>
</body>
</html>