<app-header />
<main>
  <ul id="users">
    <li>
      <!-- to access the users from dummy-users.ts file we need to
      import the dummy-users.ts file in app.component.ts file 
      and next we declare it to a variable see in "app.ts" file 
      under the "AppComponent" class -->
      <app-user 
        [id]="users[0].id" 
        [avatar]="users[0].avatar" 
        [name]="users[0].name" 
        (selectUser)="onselectedUser($event)"
      />    
    </li>

    <!-- adding multiple users  -->
    <!-- adding component inputs -->
    <li>
      <app-user 
        [id]="users[1].id" 
        [avatar]="users[1].avatar" 
        [name]="users[1].name" 
        (selectUser)="onselectedUser($event)"
      />
    </li>
    <li>
      <app-user 
      [id]="users[2].id" 
      [avatar]="users[2].avatar" 
      [name]="users[2].name" 
      (selectUser)="onselectedUser($event)"
    />
    </li>
    <li>
      <app-user 
      [id]="users[3].id" 
      [avatar]="users[3].avatar" 
      [name]="users[3].name" 
      (selectUser)="onselectedUser($event)"
    />
    </li>
    <li>
      <app-user 
      [id]="users[4].id" 
      [avatar]="users[4].avatar" 
      [name]="users[4].name" 
      (selectUser)="onselectedUser($event)"
    />
    </li>
  </ul>

  <app-tasks [username]="selectedUser?.name" />
</main>