<app-header />
<main>
  <ul id="users">
    <li>
      <!-- to access the users from dummy-users.ts file we need to
      import the dummy-users.ts file in app.component.ts file 
      and next we declare it to a variable see in "app.ts" file 
      under the "AppComponent" class -->
      <app-user 
        [user]="users[0]"
        (selectUser)="onselectedUser($event)"
      />    
    </li>

    <!-- adding multiple users  -->
    <!-- adding component inputs -->
    <li>
      <app-user 
      [user]="users[1]"
        (selectUser)="onselectedUser($event)"
      />
    </li>
    <li>
      <app-user 
      [user]="users[2]"

      (selectUser)="onselectedUser($event)"
    />
    </li>
    <li>
      <app-user 
      [user]="users[3]"
      (selectUser)="onselectedUser($event)"
    />
    </li>
    <li>
      <app-user 
      [user]="users[4]"
      (selectUser)="onselectedUser($event)"
    />
    </li>
  </ul>

  <app-tasks [username]="selectedUser?.name" />
</main>